<mat-grid-list [cols]="cardColumns" rowHeight="450px" gutterSize="24px">
  <mat-grid-tile *ngFor="let card of cards">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{card.name}}</mat-card-title>
        <mat-card-subtitle>{{card.set_name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="card.service_url || card.image_url" [alt]="card.name">
      <mat-card-content>
        {{card.rarity}}
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator [pageSizeOptions]="[]"
               [length]="totalCards"
               [pageIndex]="page"
               [pageSize]="20"
               (page)="pageChange.emit($event)">
</mat-paginator>
