<mat-grid-list [cols]="cardColumns" rowHeight="450px" gutterSize="6px">
  <mat-grid-tile *ngFor="let card of cards">
    <mat-card>
      <img mat-card-image [src]="card.image_url" [alt]="card.name">
      <mat-card-content>
        Rarity: {{card.rarity}}<br />
        Set: {{card.set_name}}
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator [pageSizeOptions]="[]"
               [length]="totalCards"
               [pageIndex]="page"
               [pageSize]="20"
               (page)="pageChange.emit($event)">
</mat-paginator>
